input, select, option {
    font-family: inherit;
}

.n-input-wrapper, .nr-input-wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 350px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.n-input-wrapper i, .nr-input-wrapper i {
    margin:auto;
    padding: 0.3rem;
}

.n-input-wrapper:focus-within, .nr-input-wrapper:focus-within {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nr-input-wrapper button {
    border-radius: 0px var(--border-default) var(--border-default) 0px;
}

.n-input-wrapper button, .nr-input-wrapper button {
    background-color: transparent;
    border:none;
    outline: none;

    cursor: pointer;
}

.n-input-wrapper button:hover, .nr-input-wrapper button:hover {
    background-color: var(--grey);
}

.n-input-wrapper button:focus, .nr-input-wrapper button:focus {
    background-color: var(--grey-b);
}

.n-input-wrapper input.n-input, .nr-input-wrapper input.nr-input {
    margin: 0rem;
    box-shadow: none;
}

.n-input-wrapper input.n-input:focus, .nr-input-wrapper input.nr-input:focus {
    box-shadow: none;
}

input.n-input, input.nr-input {
    border:none;
    outline: none;

    font-size: 1rem;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 0.9em;

    margin: 1em 0rem;

    width: 100%;
}

input.n-input {
    border-left: solid 4px transparent;
}


input.n-input:focus, input.nr-input:focus {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input.n-input:focus {
    border-left: solid 4px var(--primary);
}

input.n-input:invalid {
    border-left: solid 4px var(--error);
}

input.n-input:focus:invalid {
    border-left: solid 4px var(--alert);
}

.n-input-bi {
    font-size: 1.4rem;
}

.nr-input {
    border-radius: var(--border-default);
}

.nr-input-wrapper {
    border-radius: var(--border-default);
}

.n-input-wrapper input.nr-input {
    border-radius: var(--border-default) 0px 0px var(--border-default);
} 


/** COUNT **/

.num-input-wrapper {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
}

.num-input {
    padding: 0.9em;
    width: fit-content;
    font-size: 1rem;
    border: none;
    outline: none;
    max-width: 6ch;
    width: 100%;
}

