select {
    position: relative;
    border: none;
    border-radius: var(--border-default);
    font-size: 1rem;
    padding: 1rem;

    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 300px;
}

select:focus {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Custom select */ 

.select {
    position: relative;
    max-width: 350px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.select.rnd, .select.rnd .select-input-wrapper {
    border-radius: var(--border-default) ;
}

.select.rnd:focus-within, .select.rnd .select-input-wrapper:focus-within  {
    border-radius: var(--border-default) var(--border-default)  0px 0px;
}


.select.rnd .select-options, .select.rnd .select-options .options:last-child  {
    border-radius: 0px 0px var(--border-default) var(--border-default);
} 

.select.rnd:focus-within button {
    border-radius: 0px var(--border-default) 0px 0px;
}

.select-input-wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 350px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.select-input-wrapper:focus-within {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 

.select-input-wrapper button i.bi::before {
    transform: rotate(0deg);
    transition: transform 250ms;
}

.select-input-wrapper:focus-within i.bi::before {
    transform: rotate(180deg);
}

.select-input-wrapper:focus-within ~ .select-options {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: block;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.select-input-wrapper button:active i.bi::before {
    transform: rotate(180deg);
}



.select-input-wrapper button {
    background-color: transparent;
    border:none;
    outline: none;

    cursor: pointer;
}

.select-input-wrapper button:hover {
    background-color: var(--grey);
}

.select-input-wrapper button:focus {
    background-color: var(--grey-b);
}

.select-input-wrapper input.nr-input {
    margin: 0rem;
    box-shadow: none;
}

.select-input-wrapper input.nr-input:focus {
    box-shadow: none;
}

.select-options {
    display: none;
}

.options {
    padding: 0.5em 1em;
    cursor: pointer;
    border-left: solid 3px transparent
}

.options:hover {
    background: rgb(0,0,0,.1);
    border-left: solid 3px var(--primary);
}
