@import url(icons/bootstrap-icons-1.9.1/bootstrap-icons.css);
@import url(fonts/fonts.css);
@import url(text/text.css);
@import url(link/link.css);
@import url(button/button.css);
@import url(input/input.css);
@import url(input/select.css);
@import url(decoration/decoration.css);
@import url(decoration/cards.css);
@import url(decoration/accordion.css);

:root {
    --font-monserrat: 'Montserrat', sans-serif;

    --primary: rgb(13, 107, 230);
    --primary-90: rgb(13, 107, 230, .9);
    --primary-80: rgb(13, 107, 230, .8);
    --primary-70: rgb(13, 107, 230, .7);
    --primary-60: rgb(13, 107, 230, .6);
    --primary-50: rgb(13, 107, 230, .5);
    --primary-40: rgb(13, 107, 230, .4);
    --primary-30: rgb(13, 107, 230, .3);
    --primary-20: rgb(13, 107, 230, .2);
    --primary-10: rgb(13, 107, 230, .1);


    --error: rgb(255, 93, 93);
    --error-90: rgb(255, 93, 93, .9);
    --error-80: rgb(255, 93, 93, .8);
    --error-70: rgb(255, 93, 93, .7);
    --error-60: rgb(255, 93, 93, .6);
    --error-50: rgb(255, 93, 93, .5);
    --error-40: rgb(255, 93, 93, .4);
    --error-30: rgb(255, 93, 93, .3);
    --error-20: rgb(255, 93, 93, .2);
    --error-10: rgb(255, 93, 93, .1);

    --valid: rgb(0, 213, 163);
    --valid-90: rgb(0, 213, 163,.9);
    --valid-80: rgb(0, 213, 163,.8);
    --valid-70: rgb(0, 213, 163, .7);
    --valid-60: rgb(0, 213, 163, .6);
    --valid-50: rgb(0, 213, 163, .5);
    --valid-40: rgb(0, 213, 163, .4);
    --valid-30: rgb(0, 213, 163, .3);
    --valid-20: rgb(0, 213, 163, .2);
    --valid-10: rgb(0, 213, 163, .1);

    --alert: rgb(251, 150, 88);
    --alert-90: rgb(251, 150, 88, .9);
    --alert-80: rgb(251, 150, 88, .8);
    --alert-70: rgb(251, 150, 88, .7);
    --alert-60: rgb(251, 150, 88, .6);
    --alert-50: rgb(251, 150, 88, .5);
    --alert-40: rgb(251, 150, 88, .4);
    --alert-30: rgb(251, 150, 88, .3);
    --alert-20: rgb(251, 150, 88, .2);
    --alert-10: rgb(251, 150, 88, .1);

    
    --info: rgb(189, 69, 245);
    --info-90: rgb(189, 69, 245, .9);
    --info-80: rgb(189, 69, 245, .8);
    --info-70: rgb(189, 69, 245, .7);
    --info-60: rgb(189, 69, 245, .6);
    --info-50: rgb(189, 69, 245, .5);
    --info-40: rgb(189, 69, 245, .4);
    --info-30: rgb(189, 69, 2455, .3);
    --info-20: rgb(189, 69, 245, .2);
    --info-10: rgb(189, 69, 245, .1);


    --candy: #F8A4D8;
    --vibrant-blue: #6c63ff;

    --white: white;

    --grey: rgb(247, 239, 239);
    --grey-b: rgb(245, 236, 236);
    --grey-2b: rgb(233, 221, 221);

    --shuttle-grey: #5A6170;

    --text-color: rgb(26, 26, 26);

    --hover-b: rgb(0,0,0,.1);

    --border-round: 100%;
    --border-small: 3px;
    --border-inter: 6px;
    --border-default: 10px;
    --border-large: 100vh;

    --box-shadow-default: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-monserrat);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.flex {
    display: flex;
    gap: 0.5rem;
}

.col {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

section {
    width: 80vw;
    margin: auto;
}
