.card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.card:hover {
    animation: cardMove 0.5s;
}

@keyframes cardMove {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: rotate(0deg);
    }
}


.card-img-container {
    max-height: 350px;
    max-width: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    height: 350px;
    width: 350px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card-header {
    font-size: 1.5rem;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
}

.card-text {
    font-size: 1rem;
    color: var(--text-color);
    width: 100%;
    max-width: 35ch;
}

.card-info {
    color: var(--primary);
    font-size: 0.8rem;
}