hr {
    position: relative;
    padding: 2rem 0rem;
    border: none;
}

hr::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #ccc;
    left: 0px;

    width: 100%;
    transform: scale(0.8);
    transition: transform 250ms;
}

hr:hover::after {
    transform: scale(0.6);
}

/* Form */

form {
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}