
/* font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: url(./Montserrat/static/100-Montserrat-ThinItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url(./Montserrat/static/100-Montserrat-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url(./Montserrat/static/200-Montserrat-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url(./Montserrat/static/200-Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url(./Montserrat/static/300-Montserrat-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(./Montserrat/static/300-Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url(./Montserrat/static/400-Montserrat-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(./Montserrat/static/400-Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url(./Montserrat/static/500-Montserrat-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(./Montserrat/static/500-Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url(./Montserrat/static/600-Montserrat-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(./Montserrat/static/600-Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url(./Montserrat/static/700-Montserrat-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(./Montserrat/static/700-Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url(./Montserrat/static/800-Montserrat-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(./Montserrat/static/800-Montserrat-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url(./Montserrat/static/900-Montserrat-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url(./Montserrat/static/900-Montserrat-Black.ttf) format('truetype');
}

/* font-family: 'Finlandica', sans-serif; */

@font-face {
    font-family: 'Finlandica';
    font-style: italic;
    font-weight: 400;
    src: url(./Montserrat/static/Finlandica-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 400;
    src: url(./Finlandica/static/Finlandica-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: italic;
    font-weight: 500;
    src: url(./Finlandica/static/Finlandica-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    src: url(./Finlandica/static/Finlandica-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: italic;
    font-weight: 600;
    src: url(./Finlandica/static/Finlandica-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 600;
    src: url(./Finlandica/static/Finlandica-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: italic;
    font-weight: 700;
    src: url(./Finlandica/static/Finlandica-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    src: url(./Finlandica/static/Finlandica-Bold.ttf) format('truetype');
}