a {
    position: relative;

    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

a::after {
    content: '';

    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;

    border-bottom: solid 3px;

    transform: scale(0);
    transform-origin: right;

    transition: transform 250ms;
}

a:hover::after {
    transform: scale(1);
    transform-origin: left;
    transition: transform 250ms;
}


a.valid {
    color: var(--valid); 
}

a.error {
    color: var(--error);
}

a.alert {
    color: var(--alert);
}

a.info {
    color: var(--info);
}