button.n-button, button.nr-button, button.noi-button, button.nt-button {
    outline: none;
    border: none;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

button.n-button:hover, button.nr-button:hover, button.noi-button:hover, button.nt-button:hover {
    background-color: var(--grey);
}

button.n-button:active, button.nr-button:active, button.noi-button:active, button.nt-button:hover {
    background-color: var(--grey-b);
}

button.n-button, button.nt-button {
    padding: 0.4rem 0.8rem;
}

button.nt-button {
    border-radius: var(--border-inter);
}

button.nr-button {
    border-radius: var(--border-large);
    padding: 0.4rem 1.4rem;
}

button.noi-button {
    border-radius: var(--border-round);
}

button.noi-button.md {
    font-size: 1.6rem;
}

button.noi-button.bg {
    font-size: 2rem;
}

button.n-button.primary, button.nr-button.primary, button.noi-button.primary,
button.n-button.alert, button.nr-button.alert, button.noi-button.alert,
button.n-button.valid, button.nr-button.valid, button.noi-button.valid,
button.n-button.error, button.nr-button.error, button.noi-button.error,
button.n-button.info, button.nr-button.info, button.noi-button.info 
{
    color: white;
}

/*Primary*/
button.n-button.primary, button.nr-button.primary, button.noi-button.primary {
    background-color: var(--primary);
}

button.n-button.primary:hover, button.nr-button.primary:hover, button.noi-button.primary:hover {
    background-color: var(--primary-90);
}

button.n-button.primary:active, button.nr-button.primary:active, button.noi-button.primary:active {
    background-color: var(--primary-80);
}

button.nt-button.primary {
    color: var(--primary);
    background-color: var(--primary-20);
}


/* Alert */
button.n-button.alert, button.nr-button.alert, button.noi-button.alert  {
    background-color: var(--alert);
}

button.n-button.alert:hover, button.nr-button.alert:hover, button.noi-button.alert:hover {
    background-color: var(--alert-80);
}

button.n-button.alert:active, button.nr-button.alert:active, button.noi-button.alert:active {
    background-color: var(--alert-60);
}

button.nt-button.alert {
    color: var(--alert);
    background-color: var(--alert-20);
}

/* Valid */
button.n-button.valid, button.nr-button.valid, button.noi-button.valid {
    background-color: var(--valid);
}

button.n-button.valid:hover, button.nr-button.valid:hover, button.noi-button.valid:hover {
    background-color: var(--valid-80);
}

button.n-button.valid:active, button.nr-button.valid:active, button.noi-button.valid:active {
    background-color: var(--valid-60);
}

button.nt-button.valid {
    color: var(--valid);
    background-color: var(--valid-20);
}

/* Error */
button.n-button.error, button.nr-button.error, button.noi-button.error {
    background-color: var(--error);
}

button.n-button.error:hover, button.nr-button.error:hover, button.noi-button.error:hover {
    background-color: var(--error-80);
}

button.n-button.error:active, button.nr-button.error:active, button.noi-button.error:active {
    background-color: var(--error-60);
}

button.nt-button.error {
    color: var(--error);
    background-color: var(--error-20);
}

/* Info */
button.n-button.info, button.nr-button.info, button.noi-button.info {
    background-color: var(--info);
}

button.n-button.info:hover, button.nr-button.info:hover, button.noi-button.info:hover {
    background-color: var(--info-80);
}

button.n-button.info:active, button.nr-button.info:active, button.noi-button.info:active {
    background-color: var(--info-60);
}

button.nt-button.info {
    color: var(--info);
    background-color: var(--info-20);
}

/* Input Number Button */

.num-input-wrapper button {
    font-size: 1.4rem;
    font-family: inherit;
    width: 2em;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.num-input-wrapper button:hover {
    background-color: var(--hover-b);
}